@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Mistake.css")" rel="stylesheet" type="text/css" />
  
</head>
<body style="padding-left: 15px; padding-right: 15px">
    <div class="body-content">
        @if (ViewContext.HttpContext.User.IsInRole("Фирма"))
        {
            <h2>Меню фирмы: вы вошли как @User.Identity.Name</h2>
            <div class="nav">
                <ul>
                    <li>
                        <a href="#" class="hide" >Тарифы</a>
                            <ul class="submenu">
                                <li>@Html.ActionLink("Просмотр тарифов", "ShowTarifs", "Firm")</li>
                                <li>@Html.ActionLink("Добавление тарифа", "AddTarif", "Firm")</li>
                            </ul>
                    </li>
                    <li>
                        <a href="#" class="hide">Клиенты</a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Все клиенты", "ShowAllRegisteredClients", "Firm")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="hide">Заказы</a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Все заказы", "ShowAllOrders", "Firm")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Выйти", "LogOff", "Account")
                    </li>
                </ul>
                <div id="slider"></div>
            </div>
        }
        else if (ViewContext.HttpContext.User.IsInRole("Клиент"))
        {
            <h2>Меню клиента: вы вошли как @User.Identity.Name</h2>
            <div class="nav">
                <ul>
                    <li>
                        <a href="#" class="hide">Тарифы</a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Все тарифы", "ShowAllTarifs", "Client")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="hide">Заказы</a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Все заказы", "ShowAllOrders", "Client")</li>
                            <li>@Html.ActionLink("Разместить заказ", "PlaceOrder", "Client")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Выйти", "LogOff", "Account")
                    </li>
                </ul>
            </div>
        }
        else if (ViewContext.HttpContext.User.IsInRole("Администратор"))
        {
            <h2>Меню администратора: вы вошли как @User.Identity.Name</h2>
            <div class="nav">
                <ul>
                    <li>
                        <a href="#" class="hide">Компании</a>
                        <ul class="submenu">
                            <li>@Html.ActionLink(" Все Компании", "GetAllFirms", "Admin")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="hide">Клиенты</a>
                        <ul class="submenu">
                            <li>@Html.ActionLink("Все Клиенты", "GetAllClients", "Admin")</li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink("Выйти", "LogOff", "Account")
                    </li>
                </ul>
            </div>
        }
        
        @RenderBody()
        
       
        @Scripts.Render("~/Scripts/jquery-3.1.1.js")
        @Scripts.Render("~/Scripts/jquery.validate.js")
        @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.js")
        @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
  

        <script src="~/Scripts/Firm.js" type="text/javascript"></script>
        <div style="text-align:left; bottom:20px; font-size:13px; position:absolute; color:white; font-weight:bold; font-family:Arial">
            Designed by Konstantin Mitskevich &#169
        </div>
    </div>
 
</body>
</html>
