@model Firm
@using Logistics.Models;
@{
    int i = 0;
    Client bestClient = null;
    double maxOrder = 0;
}
<link href="~/Content/Firm.css" type="text/css" rel="stylesheet" />


<div class="back">
    
    <h3 style="color:green">Все заказы  @Model.Name company</h3>
    <table style="margin-top:10px;">
        <tr>
            <th>№</th>
            <th>Направление</th>
            <th>Стоимость перевозки(BYR)</th>
            <th>Вес(кг)</th>
            <th>Дата отправления</th>
            <th>Статус</th>
            <th>Корректировка</th>
        </tr>
        @if (Model != null)
        {
            foreach (Client client in Model.Clients)
            {
                foreach (Client cl in (IEnumerable<Client>)ViewBag.clients)
                {
                    if (client.Equals(cl))
                    {
                        i = 1;
                        double sum = 0;
                        maxOrder = 0;
                        <tr>
                            <td colspan="7" style="color:green; font-weight:bold; text-align: center">
                                @cl.Name
                            </td>
                        </tr>
                        foreach (Order order in cl.Orders.Where(o => o.Status != (int)OrderStatus.Closed))
                        {
                            foreach (Tarif t in Model.Tarifs)
                            {
                                if (t.Id == order.TarifId)
                                {

                                    <tr>
                                        <td>@i</td>
                                        <td>@t.Destination</td>
                                        <td>@t.Price</td>
                                        <td>@order.CargoWeight</td>
                                        <td>@order.Date.ToShortDateString()</td>
                                        @using (Html.BeginForm())
                                        {
                                        <td>
                                            @Html.Hidden("orderId", order.Id)
                                            @if (order.Status == (int)OrderStatus.Open)
                                            {
                                                @Html.DropDownList("status", new[] { new SelectListItem() { Text = "Открыта",Value= "1" },
                                                new SelectListItem() { Text = "В процессе",Value= "2"}, new SelectListItem() { Text = "Закрыта",Value= "3"}})
                                            }
                                            else if (order.Status == (int)OrderStatus.Proccesing)
                                            {
                                            @Html.DropDownList("status", new[] { new SelectListItem() { Text = "В процессе", Value = "2" }, new SelectListItem() { Text = "Закрыта", Value = "3" } })
                                            }
                                        </td>
                                        <td>
                                            <input type="submit" value="Изменить статус" />
                                        </td>
                                        }
                                    </tr>
                                    sum += t.Price;
                                    if (t.Price > maxOrder)
                                    {
                                        maxOrder = t.Price;
                                        bestClient = client;
                                    }
                                    i++;
                                }
                            }
                        }
                        <tr>
                            <td colspan="2" style="padding-left:20px; font-weight:bold">
                                Сумма
                            </td>
                            <td colspan="5" style="text-align:left; font-weight:bold; padding-left:5px">
                                @sum
                            </td>
                        </tr>
                    }
                }
            }
        }
    </table>
</div>

