@using Logistics.Models
@model Order
@{
    ViewBag.Title = "Разместить заказ";
}
<link href="~/Content/Client.css" type="text/css" rel="stylesheet" />

    <div class="back">
        <div>

        <h3>Выберите фирму</h3>
        @Html.DropDownList("Country", ViewBag.Firms as SelectList, new { id = "firm", @class = "form" })

        </div>
        <h2>Разместить заказ</h2>
        @using (Html.BeginForm("PlaceOrder", "Client", FormMethod.Post, new { name = "order", id = "order"}))
        {
            <div class="alert alert-danger">
                @Html.ValidationSummary(true)
            </div>
            <fieldset>
                <legend>Новая заявка</legend>
                <div class="forValidation">
                    <div class="editor-label">
                        @Html.LabelFor(o => o.TarifId)
                    </div>
                    <div>
                        @Html.DropDownListFor(o => o.TarifId, ViewBag.Tarifs as SelectList, new { id = "tarif", @class = "form" })
                        @Html.ValidationMessageFor(o => o.TarifId)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(o => o.CargoWeight)
                    </div>
                    <div class="editor-field" id="cargo">
                        @Html.TextBoxFor(o => o.CargoWeight)
                        @Html.ValidationMessageFor(o => o.CargoWeight)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(o => o.Date)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(o => o.Date, new { type = "date", @class = "dat" })
                        @Html.ValidationMessageFor(o => o.Date)
                    </div>
                    @Html.HiddenFor(o => o.ClientId)
                    @Html.Hidden("FirmId", (int)ViewBag.FirmId)
                    <p>
                        <button id="but" type="submit" name="send">Сохранить заявку</button>
                    </p>
                </div>
            </fieldset>
        }
    </div>

      

@section scripts{
    <script>
        $(function () {
            $('#firm').change(function () {
                var id = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetItems")/' + id,
                    success: function (data) {
                        $('#tarif').replaceWith(data);
                    }
                })
            })
        })

    </script>
    
}