@using Logistics.Models
@{
    int j = 0;
}
<link href="~/Content/Client.css" type="text/css" rel="stylesheet" />

<script type="text/javascript">
    function OnFailure(request, error) {
        $("#result").html("Искомый тариф не найден!");
    }
</script>
@*<script>
    $(function (){
        $("form").submit(function () {
            document.setcookie["myId"] = $("#id").val()
        });
      });
</script>
    *@

<div">
    @using (Ajax.BeginForm("TarifsSearch", "Client", new AjaxOptions
    {
        UpdateTargetId = "result",
        LoadingElementDuration = 1000,
        LoadingElementId = "loading",
        OnFailure = "OnFailure",
    }))
    {
        <h4>Выберите фирму для просмотра тарифов</h4> 
        @Html.DropDownList("Id", ViewBag.Firms as SelectList)
       
         var cookie = new HttpCookie("myId", Convert.ToString(ViewBag.Id)); // КАК ПРИВЯЗАТЬ iD К COOkIE???
         Response.Cookies.Add(cookie);
        <p>
            <button id="but" type="submit"> Получить тарифы</button>
        </p>
    }

    @*img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="width: 100px; height:10px; display:none" />*@
    <div id="result"></div>
    <div>
        <h4>
            Введите направление для поиска тарифа
        </h4>
        @using (Ajax.BeginForm("TarifsSearchByDestination", "Client", new AjaxOptions { UpdateTargetId = "result", OnFailure = "OnFailure" }))
        {
            <div>
                @Html.TextBox("destination")
            </div>
            <p>
                <button id="but" type="submit">Поиск</button>
            </p>
        }
    </div>
    <div>
        @if (ViewBag.tarifs != null)
        {
            <table>
                @foreach (Tarif tarif in ViewBag.tarifs as IEnumerable<Tarif>)
                {
                    j++;
                    <tr>
                        <td>@j</td>
                        <td>@tarif.Destination</td>
                        <td>@tarif.Price</td>
                    </tr>
                }
            </table>
        }
    </div>
    




