@model IEnumerable<Order>
@using Logistics.Models;
@{
  //  Layout = null;
    int i = 0;
}

<link href="~/Content/Client.css" type="text/css" rel="stylesheet" />


<div class="back">
    <h4 class="table-title"> Ваши заказы</h4>
    <table>
        <tr>
            <th>№</th>
            <th>Направлене</th>
            <th>Вес груза</th>
            <th>Цена перевозки</th>
            <th>Дата</th>
            <th>Статус заявки</th>
        </tr>

        @foreach (Order order in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>@order.Tarif.Destination</td>
                <td>@order.CargoWeight</td>
                <td>@order.Tarif.Price</td>
                <td>@order.Date.ToShortDateString()</td>
               @* <td>@Html.ActionLink("Удалить", "DeleteOrder", new { order.Id })</td>*@
                <td id="status" style="color:red; text-align:center">@if (order.Status == (int)OrderStatus.Open)
                    {
                        @:Отправлена
                    } 
                    else if (order.Status == (int)OrderStatus.Proccesing)
                    {
                        @:В обработке
                    }
                    
                    else if (order.Status == (int)OrderStatus.Closed)
                    {
                        @:Исполнена
                    }
                    
                </td>
            </tr>
        }
    </table>

</div>

