@using Logistics.Models
@{
    int j = 0;
}
<link href="~/Content/Client.css" type="text/css" rel="stylesheet" />
<style>
    table{
        cursor:pointer;
    }
</style>

<script type="text/javascript">
    function OnSuccess(data) {
        var result = $("#result");
        result.empty();
        result.append("<th>№</th><th>Направление</th><th>Цена</th>")
        for (var i = 0; i < data.length; i++) {
            result.append('<tr>' + '<td>' + (i + 1) + '</td>' + '<td>' + data[i].Destination + '</td>' + '<td>' + data[i].Price + '</td>' + '</tr>');
        }
        result.wrap("<table></table>");
    }
</script>

<div">
   @using (Ajax.BeginForm("ShowAlllTar", "Client", new AjaxOptions
    {
        OnSuccess = "OnSuccess"
    }))
    {
        <h4>Выберите фирму для просмотра тарифов</h4>
        @Html.DropDownList("Id", ViewBag.Firms as SelectList)

     //   var cookie = new HttpCookie("myId", Convert.ToString(ViewBag.Id)); // КАК ПРИВЯЗАТЬ iD К COOkIE???
     //   Response.Cookies.Add(cookie);
        <p>
            <button id="but" type="submit"> Получить тарифы</button>
        </p>
    }

    @*img id="loading" src="@Url.Content("~/Content/Images/loading.gif")" style="width: 100px; height:10px; display:none" />*@
    <div id="result"></div>
    <div>
        <h4>
            Введите направление для поиска тарифа
        </h4>
        @using (Ajax.BeginForm("TarifsSearchByDestination", "Client", new AjaxOptions { UpdateTargetId = "result", OnFailure = "OnFailure" }))
        {
            <div>
                @Html.TextBox("destination")
            </div>
            <p>
                <button id="but" type="submit">Поиск</button>
            </p>
        }
    </div>
    <div>
        @if (ViewBag.tarifs != null)
        {
            <table>
                @foreach (Tarif tarif in ViewBag.tarifs as IEnumerable<Tarif>)
                {
                    j++;
                    <tr>
                        <td>@j</td>
                        <td>@tarif.Destination</td>
                        <td>@tarif.Price</td>
                    </tr>
                }
            </table>
        }
    </div>

